{% extends 'base/base.html' %}

{% block title %} Lista de Usuario  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    {% csrf_token %}
    <div class="col-2 col-md-2 col-lg-2">
    </div>
    <div class="col-10 col-md-10 col-lg-10">
        <div class="card">
            <table class="table table-responsive-md table-responsive-lg">
                <thead>
                <tr>
                    <td>Nombre</td>
                </tr>
                </thead>
                <tbody>
                {% if ficheros %}
                {% for fichero in ficheros %}
                <tr>
                    <td>{{fichero}}</td>
                    <td>
                        <form method="post" action="{% url 'clientes:archivo_post' %}">
                            {% csrf_token %}
                            <input type="text" style="display: none" name="valuer" value="{{fichero}}"/>

                            <input type="submit"  class="btn btn-primary" type="button"
                                   value="Descargar Archivo">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros de Roles</h1>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-10 col-md-10 col-lg-10">
            <div class="pagination">
                {%if ficheros.has_previous%}
                <a href="?page=1">&laquo; Primera &nbsp;</a>
                <a href="?page={{ficheros.previous_page_number}}"> &nbsp;Anterior&nbsp; </a>
                {%endif%}
                <span class="actual"> &nbsp;Página &nbsp;{{ficheros.number}}&nbsp; de &nbsp; {{ficheros.paginator.num_pages}}&nbsp;</span>
                {%if ficheros.has_next%}
                <a href="?page={{ficheros.next_page_number}}"> &nbsp;Siguiente &nbsp;</a>
                <a href="?page={{ficheros.paginator.num_pages}}"> &nbsp;Ultima&raquo;&nbsp; </a>
                {%endif%}
            </div>
        </div>
    </div>
</div>


{% endblock %}
