{% extends 'base/base.html' %}

{% block title %} Lista de Usuario  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
{%for message in messages%}
<div id="messageCustom">
    {{message}}
</div>
{%endfor%}
{%endif%}
<div class="row">
    <div class="col-9 col-md-9 col-lg-9">
    </div>
    <div class="col-2 col-md-2 col-lg-2">
        <div class="card">
            <a class="form-control btn btn-success fa fa-plus" href="{% url 'rol:rol_crear' %}"> Nuevo</a>
        </div>
    </div>
    <div class="col-1 col-md-1 col-lg-1">
    </div>
    <div class="col-2 col-md-2 col-lg-2">
    </div>
    <div class="col-10 col-md-10 col-lg-10">
        <div class="card">
            <table class="table table-responsive-md table-responsive-lg">
                <thead>
                <tr>
                    <td>Code</td>
                    <td>Nombre</td>
                    <td>Description</td>
                    <td>Acciones</td>
                </tr>

                </thead>
                <tbody>
                {% if rols %}
                {% for rol in rols %}
                <tr>
                    <td>{{rol.code}}</td>
                    <td>{{rol.name}}</td>
                    <td>{{rol.description}}</td>
                    <td><a class="btn btn-primary" href="{% url 'rol:rol_editar' rol.id%}"><i
                            class="ni ni-align-left-2" aria-hidden="true"></i></a>
                        <a class="btn btn-danger" href="{% url 'rol:rol_eliminar' rol.id%}"><i
                                class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros de Roles</h1>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<ul class="pager">
    <!--	<li>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            </li>
        <li>
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>-->
</ul>


{% endblock %}