{% extends 'base/base-fullscreen.html' %}

{% block title %} Usuario Nuevo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    .helptext {
        display: none;

    }
</style>
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="form-control btn btn-success fa fa-save"> Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}